body{
    color: rgb(211, 211, 211);
    background-color: #000000;
    font-family: 'JetBrains Mono Nerd', monospace;
}
a{
    color: rgb(0, 128, 167);
    text-decoration: none;
}

h1{
    text-align: center;
}

.main-image{
    position: sticky;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: center;
}